[Desktop Entry]
Name=OpenJDK 21 for x86_64 Monitoring & Management Console (21.0.6.0.7-6.fc41.x86_64)
Comment=Monitor and manage OpenJDK applications
Exec=/usr/lib/jvm/java-21-openjdk/bin/jconsole
Icon=java-21-openjdk
Terminal=false
Type=Application
StartupWMClass=sun-tools-jconsole-JConsole
Categories=Development;Profiling;Java;
Version=1.0
X-Desktop-File-Install-Version=0.27
NoDisplay=true
Hidden=true
