[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=MATLAB
# Reminder:
# podman run -it --rm -p 8888:8888 --shm-size=512M mathworks/matlab:r2025a -browser
Exec=podman start -ai matlab-r2025a
Icon=/home/diogo/.local/bin/matlab_icon.png
Terminal=true

