[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=PCSX2
StartupWMClass=PCSX2
GenericName=PlayStation 2 Emulator
Comment=Sony PlayStation 2 emulator
Exec=/bin/bash /home/diogo/.local/bin/pcsx2
Icon=net.pcsx2.PCSX2
Keywords=game;emulator;
Categories=Game;Emulator;
X-Desktop-File-Install-Version=0.27
X-Flatpak=net.pcsx2.PCSX2
